apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: fastapi-platform
spec:
  template:
    spec:
      containers:
        - name: frontend
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
